<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录系统</title> 
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body class="gray-bg">
<div class="container">
	<div class="row">
	    <div class="col-sm-7">
	        <div class="ibox float-e-margins">	          
	            <div class="ibox-content">
	                <div class="row">
	                    <div class="col-sm-6 b-r">
	                        <h3 class="m-t-none m-b">登录</h3>
	                        <p>欢迎，欢迎，欢迎登录小站</p>
	                        <form action="dologin" method="post">
                             <!--action="dologin",即在application/index/controller/Login.php中寻找dologin方法
									因为，这个网页是在Login.php里的Login类里使用打开的，故还认为在clss Login中，action相当于调用方法-->
	                            <div class="form-group">
	                                <label>用户名</label>
	                                <input type="text" placeholder="请输入用户名" class="form-control" name="user_name">
	                            </div>
	                            <div class="form-group">
	                                <label>密码</label>
	                                <input type="password" placeholder="请输入密码" class="form-control" name="user_pwd">
	                            </div>
                                <div>
	                                <button class="btn btn-sm btn-primary pull-left" type="submit"><strong>登 录</strong>
                                      <!--btn：按钮，btn-sm：小号，lg大号，xm超小号,btn-primary：基础颜色蓝色，strong加粗-->
	                                </button>	                               
	                            </div>
                              
                              	<div>
                                   <button class="btn btn-sm btn-primary pull-right" type="submit" formaction="regist"><strong>注 册</strong>
                                      <!--formaction 属性覆盖 form 元素的 action 属性。与type="submit"配套使用。在application/index/controller/Login.php中寻找regist方法-->
                                     <!--strong是加粗-->
                            	   </button>
                              	</div>
                              		
                              	
	                        </form>
                           
	                    </div>	                   
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div> 
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
